#  pip install -r requirements.txt
opencv-python
cvzone
numpy
mediapipe
ultralytics
torch

# python connect  OPCUA  from KepServerEX6
opcua #(OLE for Process Control Unified Architecture)
cryptography  # hash functions like SHA-256, SHA-1,


